[submodule "squeekboard"]
	path = squeekboard
	url = ssh://aur@aur.archlinux.org/squeekboard.git
[submodule "gnome-shell-extension-screen-rotate"]
	path = gnome-shell-extension-screen-rotate
	url = ssh://aur@aur.archlinux.org/gnome-shell-extension-screen-rotate.git
[submodule "gnome-shell-extension-hide-keyboard-layout"]
	path = gnome-shell-extension-hide-keyboard-layout
	url = ssh://aur@aur.archlinux.org/gnome-shell-extension-hide-keyboard-layout.git
[submodule "esphome-flasher"]
	path = esphome-flasher
	url = ssh://aur@aur.archlinux.org/esphome-flasher.git
[submodule "doti"]
	path = doti
	url = ssh://aur@aur.archlinux.org/doti.git
