[submodule "squeekboard"]
	path = squeekboard
	url = ssh://aur@aur.archlinux.org/squeekboard.git
[submodule "gnome-shell-extension-screen-rotate"]
	path = gnome-shell-extension-screen-rotate
	url = ssh://aur@aur.archlinux.org/gnome-shell-extension-screen-rotate.git
[submodule "gnome-shell-extension-hide-keyboard-layout"]
	path = gnome-shell-extension-hide-keyboard-layout
	url = ssh://aur@aur.archlinux.org/gnome-shell-extension-hide-keyboard-layout.git
[submodule "esphome-flasher"]
	path = esphome-flasher
	url = ssh://aur@aur.archlinux.org/esphome-flasher.git
[submodule "doti"]
	path = doti
	url = ssh://aur@aur.archlinux.org/doti.git
[submodule "gnome-shell-extension-firefox-pip"]
	path = gnome-shell-extension-firefox-pip
	url = ssh://aur@aur.archlinux.org/gnome-shell-extension-firefox-pip.git
[submodule "python-gymnasium"]
	path = python-gymnasium
	url = ssh://aur@aur.archlinux.org/python-gymnasium.git
[submodule "python-gymnasium-notices"]
	path = python-gymnasium-notices
	url = ssh://aur@aur.archlinux.org/python-gymnasium-notices.git
[submodule "python-jax-jumpy"]
	path = python-jax-jumpy
	url = ssh://aur@aur.archlinux.org/python-jax-jumpy.git
[submodule "google-calendar-nativefier-dark"]
	path = google-calendar-nativefier-dark
	url = ssh://aur@aur.archlinux.org/google-calendar-nativefier-dark.git
